{% extends "base.html.twig" %}

{% block title %}À propos ♥ Les Amoureux du Chocolat ♥{% endblock %}


{% block body %}
<header class="hero">
    <div class="banner-hero-img">
        <img src="{{ asset('img/Header/bear_hand.jpg')}}" alt="Les Amoureux du Chocolat" class="img-header" />
        <h1 class="about-h1">À propos de nous
        </h1>
    </div>
</header>
<section class="bg-white text-dark pt-5 pb-5 mx-auto">
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center d-flex">
            <div class="col-lg-6">
                <h2 class="pb-4 about-h2">Les Amoureux...</h2>
                <div class="about-p mx-auto">
                    <p>Dès son plus jeune âge, Johan est déjà fasciné par l'univers
                        du chocolat et des gourmandises.
                        Il obtient très vite ses diplômes des métiers de la
                        restauration et de l'hôtellerie,
                        puis ceux de chocolatier et pâtissier (glacier, confiseur).</p>
                    <p>Il suit sa formation auprès de Ladurée à Paris, puis de Marquise et
                        Tradition dans l'Essonne.
                        Là, naît sa grande passion pour le chocolat.
                        Il part ensuite en Normandie peaufiner son expérience
                        dans la chocolaterie</p>
                    <p>Il part ensuite en Normandie peaufiner son expérience
                        dans la chocolaterie
                        Les Kabosses, avec le chef chocolatier Jean-Michel K'Dual.
                        Puis il décide alors de partir découvrir de nouvelles techniques en
                        Australie.</p>
                    <p>C'est là que Johan et Claire ont fondu l'un pour l'autre,
                        dans une grande chocolaterie australienne.
                        De là est née une histoire d'amour, une passion commune pour
                        le chocolat.</p>


                    <p>Ensemble, ils décident de rejoindre la France pour faire partager
                        cette expérience à travers la chocolaterie
                    </p>


                    <p>Les Amoureux du Chocolat.
                        Tous les deux s'harmonisent avec perfection pour vous faire
                        partager de merveilleux moments chocolatés.</p>
                </div>
            </div>
            <div class="col-sm mx-auto">
                <img src="./Img/About/nous.png" alt="Les Amoureux du chocolat les artisans" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="pt-2 pb-1 mx-auto ">
    <div class="container-fluid">
        <div class="row align-content-center">
            <div class="col-md-3 col-6 mx-auto">
                <div class="card">
                    <a href="https://www.cma-essonne.fr/" target="_blank" rel="noopener noreferrer"> <img
                            class="card-img-top shadow" src="./Img/About/couv-cma-ess.jpg" alt="Chambre de Métiers 
     et de l'artisanat"></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Chambre de Métiers
                            et de l'artisanat</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mx-auto">
                <div class="card">
                    <a href="https://www.croqueurschocolat.com/" target="_blank" rel="noopener noreferrer"> <img
                            class="card-img-top shadow" src="./Img/About/Croqueurs-de-chocolat.png"
                            alt="Club des Croqueurs de Chocolat"></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Club des Croqueurs de Chocolat</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mx-auto">
                <div class="card">
                    <a href="https://www.lespapillesdor.fr/commercants/les-amoureux-du-chocolat" target="_blank"
                        rel="noopener noreferrer"> <img class="card-img-top shadow" src="./Img/About/papilles-dor.png"
                            alt="Papilles d'or"></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">Les Papilles <br> d'or</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mx-auto">
                <div class="card">
                    <a href="https://www.essonne.cci.fr/" target="_blank" rel="noopener noreferrer"> <img
                            class="card-img-top shadow" src="./Img/About/logo-cci.png"
                            alt="Chambre de commerce et de l'industrie essonne "></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">CCI <br> Essonne</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="card-group img-fluid w-60">
    <div class="card">
        <img src="./Img/About/les-amoureux-du-chocolat-Jo-work-maq.png" class="footer-about-card-img-top"
            alt="Les Amoureux du chocolat production ganache">
    </div>
    <div class="card">
        <img src="./Img/About/les-amoureux-du-chocolat-work-maq.png" class="footer-about-card-img-top"
            alt="Les Amoureux du chocolat production caramel">
    </div>
    <div class="card">
        <img src="./Img/About/les-amoureux-du-chocolat-us-maq.png" class="footer-about-card-img-top "
            alt="Les Amoureux du chocolat les artisans">

    </div>
</div>
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}