{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe ♥ Les Amoureux du Chocolat ♥{% endblock %}

{% block body %}
{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<h1>Réinitialisez votre mot de passe</h1>
<div class="text-center label-form-center">
    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
</div>
<div>
    <small>
        <p class="small-p">
            Entrez votre adresse e-mail et nous vous enverrons un
            lien pour réinitialiser votre mot de passe.
        </p>
    </small>
</div>

<button class="btn btn-reset" id="btn-reset">Envoyer un e-mail de réinitialisation du mot de passe</button>
{{ form_end(requestForm) }}
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}