/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300;1,500&display=swap');

/* Variables */
:root {
  /* Dark shades colors */
  --clr-primary-1: hsl(12, 11%, 18%); /*headings*/
  --clr-primary-2: hsl(32, 31%, 24%); /*paragraph*/
  --clr-primary-3: hsl(17, 39%, 29%); /*cards p*/
  --clr-primary-4: hsl(19, 31%, 50%); /*btn*/
  --clr-primary-5: hsl(4, 11%, 48%);
  --clr-primary-11: hsla(6, 13%, 67%);
  --clr-primary-12: #c5b5b4;
  --clr-primary-6: hsl(38, 22%, 58%);
  /* Lighter shades color */
  --clr-primary-7: hsl(326, 18%, 92%); /*bkgr color*/
  --clr-primary-8: hsl(0, 100%, 97%);
  --clr-primary-9: hsl(0, 100%, 100%);
  --clr-primary-10: hsl(0, 0%, 100%);
  --clr-primary-11: hsl(0, 76%, 67%);
  /* Fonts */
  --ff-primary: 'Roboto', sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --raduis: 0.3rem;
  --light-shadows: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadows: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/* Global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-primary-7);
  color: var(--clr-primary-1);
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}

p {
  color: var(--clr-primary-3);
  margin-bottom: 1.25rem;
}

/* Global classes */

.btn-validation {
  color: var(--clr-primary-1);
}
#btn {
  color: var(--clr-primary-1);
}
a.btn {
  text-transform: uppercase;
  background: var(--clr-primary-4);
  color: var(--clr-primary-9);
  padding: 0.5rem 1.5rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--raduis);
}

.product-btn {
  margin-left: 5rem;
}

.btn-section {
  text-transform: uppercase;
  background: var(--clr-primary-4);
  color: var(--clr-primary-9);
  padding: 0.5rem 1.5rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--raduis);
}

.btn:hover {
  color: var(--clr-primary-9);
  background: var(--clr-primary-3);
}
a.btn:hover {
  color: var(--clr-primary-9);
} 

.section {
  padding: 5rem 0;
  background: var(--clr-primary-10);
}
/*
.section-center {
   width: 90vw;
  margin: 0 auto; 
  max-width: 1170px;
}*/

.section-title {
  margin-bottom: 2rem;
  text-align: center;
}

/* HEADER  */
/* Navbar */

/* 
NAV
 */

/* .nav {
  height: 4rem;
  padding: 1rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-1);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
} */

/*
FIXED NAVBAR
*/
/* .navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-grey-10);
  z-index: 2;
  box-shadow: var(--light-shadow);
} */
.navbar {
  background-color: var(--clr-primary-10);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  color: var(--clr-grey-1);
  font-size: 2rem;
  cursor: pointer;
  width: 13rem;
  line-height: 70px;
}

.icon-burger {
  fill: var(--clr-primary-4);
  cursor: pointer;
}

.navbar input, .nav-menu, .dropdown {
  display: none;
}
/* pseudo class  start with : ^= */
[id^=btn]:checked + ul {
  display: block;
}

.nav-menu {
  position: absolute;
  background: var(--clr-primary-1);
  top: 118px;
  left: 0;
  right: 0;
  opacity: 0.9;
  width: 100%;
  /* height: 10em; */
  color: var(--clr-primary-12);
  font-size: 2rem;
  text-transform: capitalize;
  z-index: 11;
}
.nav-item {
  background: var(--clr-primary-1);
}

.nav-item a, .drop-item a  .show{
  color: var(--clr-primary-9);
  line-height: 2em;
  background: var(--clr-primary-1);
}

.nav-menu a:hover, .show:hover {
  color: var(--clr-primary-9);
}
/*
SIDEBAR
*/
/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-1);
  z-index: 11;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0.9;
} */

/* 
TOGGLE SIDEBAR
*/
/* .show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-links {
  margin: 2px 62px 30em -8em;
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-primary-10);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--clr-primary-10);
}
.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-primary-6);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-10);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
} */





.img-logo-header {
  position: absolute;
  width: 40%;
  z-index: 1;
  margin-top: 20em;
  margin-left: 29em;
}

.img-header {
  width: 100%;
  object-fit: cover;
}

.product-btn {
  position: absolute;
  z-index: 10;
  margin-top: -6rem;
}

/* end of HEADER  */

/* MAIN */

.section-title-h {
  white-space: pre-line;
  text-align: center;
}
.section-title-p {
  white-space: pre-line;
  text-align: center;
  font-family: var(--ff-primary);
}


/* 
  =============
  Cards
  =============
*/


.intro-btn {
  text-align: center;
}


  /* products-inventory */

.products-inventory {
    display: flex;
  }

  .product-inline img {
    width: 100%;
    margin-bottom: 1em;
    object-fit: contain;
  }

/* BLOG INFO  */

.info-blog {
  background: var(--clr-primary-10);
  /* width: 98vw; */
}

.infos-blog {
  padding: 1rem 0;
  background: var(--clr-primary-10);
}

.blog-title {
  text-align: justify;
  margin: 0 auto 1em 2rem;
  max-width: 30rem;
}

.info-blog-text {
  text-align: justify;
  margin: 0 auto 0 2rem;
  max-width: 30rem;
}

.btn-link {
  position: absolute;
  width: 24%;
  margin-left: 15em;
  margin-top: -8em;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  padding: 0.5px 1.5px;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 600;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 12px;
  border: 2px solid lightgray;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--raduis);
}

/* BLOG TILES GRID  */
.tiles-center {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'a b d f'
    'a c e g';
  grid-column-gap: 2rem;
}

.tile img {
  width: 250px;
}

.tile-1 img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.tile-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-1 {
  grid-area: a;
}
.tile-2 {
  grid-area: b;
}
.tile-3 {
  grid-area: c;
}
.tile-4 {
  grid-area: d;
}
.tile-5 {
  grid-area: e;
}
.tile-6 {
  grid-area: f;
}
.tile-7 {
  grid-area: g;
}

/* .gallery-meduim-img img {
  width: 100%;
  object-fit: cover;
} */
/* .gallery-large img {
  width: 98vw;
  margin: -0.3em;
  margin-left: 0rem;
} */


/* About us page start */




.about-h1 {
    font-size: 2.5em;
    color: var(--clr-primary-10);
    z-index: 1;
    margin-top: -5.5em;
    position: absolute;
    text-align: center;
}

.about-h2 {
  text-align: center;
}

.about-p {
  padding-bottom: 2.5em;
  font-size: 20px;
  text-align: center;
}

.card-img-top {
  height: 18rem;
  object-fit: contain;
  cursor: pointer;
}

/* .footer-about-card-img-top img {
  width: 50rem;
} */
/* About us page end */



/* CHOCOBLOG */
/*Profile Card 5*/
.profile-card-blog {
    margin-top:20px;
}
.profile-card-blog .btn {
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-blog .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-blog .card-img-block img {
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-blog h5 {
    color: var(--clr-primary-1);
    font-weight:600;
}
.profile-card-blog p {
    font-size:14px;
    font-weight:300;
}
.profile-card-blog .btn-primary {
    background-color:#4E5E30;
    border-color:#4E5E30;
}

.p-article {
  word-spacing:var(--spacing) ;
  letter-spacing: var(--spacing);
  line-height: 1.25;
}
/* CHOCOBLOG  page index start*/
#article-blog {
margin-top: -5em;
}

#article-read {
  width: 100%;
}



/* CHOCOBLOG  page index end*/

/* 
=============== 
PRODUTCT START 
===============
*/

#category-display-product {
  margin-top: -5em;
}

#category-inline {
  width: 100%;
}

/* 
=============== 
PRODUTCT END 
===============
*/
/* 
=============== 
BUTTON TOP 
===============
*/
.top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  opacity: 2;
}

.top-btn:hover {
  color: var(--clr-primary-1);
}


/*
=============== 
Footer
===============
*/

footer {
  background: var(--clr-primary-12);
}

footer img {
    width: 28em;
}

footer a {
  text-decoration: none;
}

 .social a {
  font-size: 3em;
  color: var(--clr-primary-10);
  letter-spacing: 1.5em;
  margin-left: 2.5em;
}

/*
=============== 
End of Footer
===============
*/

/* CATEGORIE INDEX  */

.card-body a {
  text-decoration: none;
  list-style-type: none;
}


/* END OF BLOG TILES GRID  */


/* Media queries */
@media screen and (min-width: 320px) {
  
/* .nav {
  height: 2rem;
  } */
/* #nav-link {
  display: none;
}
 .social-icons {
    margin-top: 2rem;
    width: 15rem;
  } */

  #navbar {
    padding: 10px;
    margin-bottom: -4em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-menu {
   margin-top: -4rem;
}



.logo {
  width: 10rem;
}

svg {
  width: 30px;
}

h1 {
  font-size: 20px;
}
  /* .nav-btn {
    display: inline;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 0.3rem;
    justify-self: end;
  } */
 
  /* .navbar-fixed {
    position: fixed;
    background: var(--clr-primary-1);
    z-index: 2;
    box-shadow: var(--light-shadows);
  } */
  /* .nav-links a {
    text-transform: capitalize;
    color: var(--clr-primary-5);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 8px;
  }
  .nav-links a:hover {
    color: var(--clr-primary-1);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
    margin-top: -10px;
  }

  .logo-nav {
    width: 5em;
    margin-top: -40px;
  } */

  .img-header {
    margin-top: 3em;
  }
   /* .btn {
    padding: 3px 5px;
    font-size: 3px;
    z-index: auto;
    
  } */

  .product-btn  {
    margin-left: auto;
    margin-top: -4em;
    font-size: 8px;
    margin-left: 6px;
  }

  #btn-our-product {
    font-size: 8px;
  }


a.btn {
    padding: 0px 0px;
    font-size: 8px;
    cursor: pointer;
}

  .hero {
    margin-bottom: -1rem;
  }
  .img-logo-header {
    width: 35%;
    margin-top: 4em;
    margin-left: 1em;
}
  
  .section {
    padding: 0rem 0;
}

  .section-title-h {
    font-size: 20px;
}

.section-title-p {
    font-size: 12px;
    margin-bottom: -3rem;
}



/* PRODUCT INVENTORY  MDQ 320px*/


#product-inline-0 {
  margin-top: -5em;
}

#product-inline-0 h4 {
  font-size: 12px;
}
#product-inline-0 p {
  font-size: 10px;
}

#product-inline-1 {
margin-top: -3em;
}

#taste {
  font-size: 17px;
  margin-bottom: -2em;
}

#taste-btn {
  margin-top: 2em;
}

#info-blog {
  margin-top: -2em;
}
.blog-title  {
  margin: 0 5px 5px 5px;
  font-size: 10px;
}


.info-blog {
  width: 100vw;
}
.info-blog-text {
  font-size: 5px;
  max-width: 10rem;
  margin: 0  1em 2rem;
}

.btn-link {
    width: 130px;
    margin-left: 6em;
    margin-top: -11em;
    font-size: 4px;
}

.section-title h2 {
  font-size: 14px;
}


/* Categories products  MDQ 320px*/

 .products-inventory {
    display: flex;
    width: 100vw;
    margin-left: -1rem;
  }
  .product-inline img {
    width: 100%;
    margin-bottom: 1em;
    object-fit: contain;
  }
  /* end products-inventory  */

  .categories-products {
    display: flex;
  }
  .product-categorie img {
    width: 100%;
    height: 5em;
    object-fit: contain;
    margin-top: -1.5rem;
  }

  .categorie-name {
    text-align: center;
    margin-top: 0.3em;
    font-size: 0.4rem;
    margin-bottom: 0.5rem;
  }


/* TILES GRID  MDQ 320px*/

.tiles-center {
    /* width: 91vw; */
    margin-top: -1rem;
    max-width: 1170px;
    margin: 1rem auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'a b d f'
        'a c e g';
    grid-column-gap: 0.5rem;
}

.tile {
  margin-top: -3rem;
}

.tile-1 img {
  width: 75px;
  height: 100%;
}

.tile-2 img {
  width: 100%;
  height: 100%;
}
.tile-3 img {
  width: 100%;
  height: 100%;
}
.tile-4 img {
  width: 100%;
  height: 100%;
}
.tile-5 img {
  width: 100%;
  height: 100%;
}
.tile-6 img {
  width: 100%;
  height: 100%;
}
.tile-7 img {
  width: 100%;
  height: 100%;
}

.tile-1 {
  grid-area: a;
}
.tile-2 {
  grid-area: b;
}
.tile-3 {
  grid-area: c;
}
.tile-4 {
  grid-area: d;
}
.tile-5 {
  grid-area: e;
}
.tile-6 {
  grid-area: f;
}
.tile-7 {
  grid-area: g;
}

#img-shop {
padding: 0;
height: 10em;
}
/* Footer MDQ 320px */
footer {
max-width: 100%;
}


.logo-footer  img{
    width: 16em;
}

.fa-instagram {
  margin-left: -154px;
  justify-content: center;
  margin-right: -60px;
  font-size: 40px;
}

.fa-facebook {
  margin-left: -94px;
  font-size: 40px;
}

footer>.container {
  height: 27em;
}

footer h5 {
font-size: 14px;
}
footer li {
font-size: 10px;
}

footer small {
  font-size: 10px;
}

/* Article blog start */

#article-img {
  max-height: 55vh;
}

#breadcrumb-article {
  text-align: center;
  margin-left: 3em;
}

.article-center {
  text-align: center;
  margin-top: 25px;
}
#article-center-a {
  margin-left: 5em;
}

.bg-reply {
  background: var(--clr-primary-12);
  opacity: 0.5;
}

.reply {
  color:hsl(15, 6%, 14%);
}

/* Article blog end */

/* Comment blog start */
.h4-comment {
  text-align: center;
  padding-top: 1em;
}

#btn-comment {
  margin: 35px 7em -20px 0;
  color: var(--clr-primary-10);
  border-radius: var(--raduis);
  background: var(--clr-primary-4);
  color: var(--clr-primary-9);
  padding: 5px;
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--raduis);
}

.cancel-comment {
  margin: 5px 49em 2em -5em;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: var(--raduis);
}

#cancel-comment {
  background: var(--clr-primary-11);
}


#comment-card {
  width: 100%;
}



/* Comment blog end */


/* Category product start */

#category-h4 {
  font-size: 10px;
}

#breadcrumb-category-product {
  text-align: center;
  margin-left: 3em;
}

#category-view {
   text-align: center;
}

#category-img-2 {
min-width: -webkit-fill-available;
padding-bottom: 15px;
}


#col-grid {
  flex:  1 0 35%;
}
/* Category product end */


/* Login start */

#login-center-h1 {
  font-size: 22px;
  margin-inline: -7em;
  text-align: center;
}

#login-center {
  margin-inline: -57px;
  padding-bottom: 23px;
}
#login-center-create {
  margin-inline: -42px;
  padding-bottom: 23px;
}
#login-center-pswd {
  margin-inline: -29px;
  padding-bottom: 5px;
}
#login-center-rember {
  margin-inline: 4px;
}


#inputEmail {
  width: 19em;
  margin-left: -8em;
}


#inputPassword {
  width: 19em;
  margin-left: -8em;
}

#btn-login {
  margin-left: -3em;
  background-color: var(--clr-primary-1);
}

/* Login end */


/* Contact start end */

.img-header-contact {
  width: 100%;
  object-fit: cover;
  margin-top: 3em;
  min-height: 11em;
}
.contact-h1 {
    font-size: 28px;
    color: var(--clr-primary-10);
    z-index: 1;
    margin-top: -3.5em;
    position: absolute;
    text-align: center;
    margin-left: 0.5em;
}

.contact-h2 {
  text-align: center;
}

#email-contact {
  margin-top: 10em;
}

#btn-contact {
    margin-left: 6.5em;
    background-color: var(--clr-primary-1);
}

.mail-contact {
  margin-inline: -5px;
}
/* Contact end */

} 


/* mobileM 375 */
@media screen and (min-width:375px) {
  .products-inventory {
    width: 94vw;
  }

  /* .cards-center {
    margin-left: -0.5rem;
  } */

  .intro-btn .btn {
    margin-left: -20px;
  }

  .btn-section {
  padding: 3px 5px;
  font-size: 3px;
}
  .btn-section-1 {
  padding: 3px 5px;
  font-size: 3px;
}

  .blog-title {
    margin: 0 5px 5px 20px;
}

.info-blog-text {
    margin: 0 4em 2rem;
}

.product-inline img {
  margin-left: 10px;
}

.product-categorie img {
  margin-left: 10px;
}



.copyright-info {
    margin-top: auto;
    margin-left: -20rem;
    font-size: 8px;
    color: var(--clr-primary-10);
    margin-bottom: -2px;
}

}


@media screen and (min-width:425px) {
  .btn-link {
    width: 135px;
    margin-left: 10em;
    margin-top: -9em;
    font-size: 6px;
}

.info-blog-text {
  margin: 0 22px 2rem;
    font-size: 8px;
    max-width: 15rem;
}
}







/* tablet 768 */
@media screen and (min-width: 768px) {
  /* Global styles */
  .section {
    padding: 2rem 0;
  }

  .icon-burger {
    display: none;
  }

  .nav-menu {
    display: initial;
    position: static;
  }

  .nav-item {
    display: inline-block;
    margin-left: 20px;
    /* position: relative; */
  }


  .dropdown {
    position: absolute;
    background: var(--clr-primary-10);
    top: 70px;
    right: 0;
    padding-right: 40px;
    width: max-content;
  }
  /* Navbar */
  /* .nav {
  height: 2rem;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: auto;
   
  }
  
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-primary-5);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    transition: var(--transition);
     font-size: 15px;
  }
  .nav-links a:hover {
    color: var(--clr-primary-1);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  } */

 
  /* end of Navbar */
  /* Header  */
  .img-logo-header {
    width: 40%;
    margin-top: 4em;
    margin-left: 1em;
  }

  .product-btn {
    margin-top: -5rem;
    font-size: 17px;
  }

  
  /* end of Header  */
  /* MAIN */
  .section-title-h {
    white-space: pre-line;
    text-align: center;
    font-size: 30px;
  }
  .section-title-p {
    white-space: pre-line;
    text-align: center;
    font-family: var(--ff-primary);
    margin-bottom: -3rem;
    font-size: 20px;
  }

  /* .cards-center {
    width: 80vw;
    max-width: 1170px;
    margin: 2rem auto;
    margin-left: -1rem;
    margin-bottom: -5rem;
} */


/* .card-info h4 {
  font-size: 17px;
}

.card-info p {
  font-size: 16px;
} */


#btn-1 {
  margin-left: -3rem;
  font-size: 15px;
}


  .section-title h2 {
    font-size: 30px;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  /* Intro product img */
.products-inventory {
    display: flex;
    width: 91vw;
}

#products-inventory {
  margin-left: -1rem;
}
  .product-intro-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--clr-primary-10);
    padding: 0.1em 1em;
    margin-bottom: 2rem;
    border-radius: var(--raduis);
    text-align: center;
    transition: var(--transition);
    width: 40vw;
    cursor: pointer;
  }

  .product-intro-img:hover {
    background: var(--clr-primary-10);
    color: var(--clr-primary-4);
  }

  .intro-img-products {
    width: 40vw;
  }

  .product-intro-name {
    transition: var(--transition);
  }
  .product-intro-price {
    transition: var(--transition);
  }

  .intro-btn {
    text-align: center;
    margin-bottom: 0em;
  }

  /* end of Intro product img */

  /* products-inventory  */
  
  .products-inventory {
    display: flex;
  }
  .product-inline img {
    width: 240px;
    object-fit: contain;
    margin: 0 0 0 0;
  }
  /* end products-inventory  */

  .categories-products {
    display: flex;
  }
  .product-categorie img {
    width: 24vw;
    height: 14em;
    object-fit: contain;
    margin-left: 0;
  }


.intro-btn .btn {
  font-size: 15px;
  margin-top: 3rem;
}


  .categorie-name {
    text-align: center;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-size: 0.975rem;
  }
  /* end of products-inventory  */
/* BLOG  */
.info-blog {
  margin-top: -2rem;
}

.info-blog-text {
    margin: 0 22px 2rem;
    font-size: 12px;
    max-width: 24rem;
}

.blog-title {
    font-size: 20px;
}

.btn-link {
        width: 280px;
    margin-left: 7.5em;
    margin-top: -6em;
    font-size: 10px;
}
.tile-1 img {
    width: 100%;
    height: 100%;
}
  /* End of MAIN */
}

/* @media screen and (min-width: 676px) {
  .product-intro-img {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    column-gap: 2rem;
  }
} */

/* @media screen and (min-width: 992px) {
  .product-intro-img {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
/* end of Navbar */



@media screen and (min-width: 800px) {
  /* .cards {
    margin-bottom: 0rem;
    margin-top: 0rem;
    margin-left: -1.5rem;
}
.cards-center {
    width: 95vw;
    max-width: 1170px;
    margin: 2rem auto;
    margin-left: -1rem;
    margin-bottom: -5rem;
} */
#btn-1 {
    margin-left: -2rem;
    font-size: 18px;
        /* font-size: 21px;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: auto; */
}
  #products-inventory {
    margin-left: -2rem;
}
  .product-inline img {
    width: 260px;
    margin: 0 0 0 0;
}
.intro-btn .btn {
    font-size: 18px;
    margin-top: 2rem;
}
  .blog-title {
    margin: 0 5px 5px 42px;
}
  .info-blog-text {
    margin: 0 42px 2rem;
    font-size: 12px;
    max-width: 24rem;
}
  .btn-link {
    width: 263px;
    margin-left: 9.5em;
    margin-top: -6em;
    font-size: 10px;
}

}

@media screen and (min-width: 865px) {
 #products-inventory {
    margin-left: -3rem;
}
.product-inline img {
    width: 286px;
}
.blog-title {
    margin: 0 5px 5px 40px;
}
.info-blog-text {
    margin: 0 40px 2rem;
}
.btn-link {
    margin-left: 11.5em;
}


}

@media screen and (min-width: 992px) {
 
}


@media screen and (min-width: 1024px) {


  .container {
    margin-top: 12px;
  }
  .img-header {
    width: 100%;
  }

  .section {
    width: 100%;
  }

  .section-center {
    width: 100%;
  }
  #btn-1 {
    font-size: 20px;
        /* font-size: 21px;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: auto; */
}
/* 
.cards-center {
    margin-bottom: -5rem;
    margin-left: 4rem;
}

.cards {
  margin-bottom: 2rem;
} */

#products-inventory {
  margin-left: 4rem;
}
.products-inventory {
  margin-left: 4rem;
}

.product-inline img {
    width: 320px;
    object-fit: contain;
    margin: 0 0 0 0;
}

.section-title {
    margin-bottom: 5rem;
    text-align: center;
}

.categorie-name {
    font-size: 1.5rem;
}

.intro-btn .btn {
    font-size: 20px;
    margin-top: 3rem;
    margin-left: -27px;
}

.blog-title {
    font-size: 25px;
    margin: 2em;
}

.info-blog-text {
    margin: 5px 3rem 2rem;
    font-size: 15px;
    max-width: 31rem;
}

.btn-link {
    width: 280px;
    margin-left: 19.5em;
    margin-top: -11em;
    font-size: 10px;
}

/* .infos-blog {
    width: 108.4vw;
    margin-bottom: -5rem;
} */

/* .gallery-large img {
      width: 108.4vw;
      margin-top: -16px;
} */

.tile {
  width: 100%;
  background: var(--clr-primary-10);
}



}


@media screen and (min-width: 1170px) {
  /* .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards {
  padding: 4rem 1rem;
} */
} 




@media screen and (min-width: 1120px) {
 
}
/* @media screen and (min-width: 1440px) {

  .img-header {
    width: 105vw;
}





 .section-center .info-blog {
   margin: 0;
 }
} */