{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation ♥ Les Amoureux du Chocolat ♥{% endblock %}

{% block body %}



<div class="container-fluid">
    <div class="row pt-5 pb-5 ">
        <h1 class="text-center pt-5 pb-2">Conditions d'utilisation</h1>
    </div>
    <div class=" justify-content-center">
        <h2 class=" pt-0 pb-3  text-center">Informations légales
        </h2>
        <p class="row text-center">Ce site Web est exploité par Les amoureux du chocolat. Dans l'ensemble du site, les
            termes "nous", "notre" et "nos" font
            référence aux amoureux du chocolat. Les amoureux du chocolat offre ce site Web, y compris toutes les
            informations, tous
            les outils et tous les services disponibles sur ce site à vous, l'utilisateur, sous réserve de votre
            acceptation de tous
            les termes, conditions, politiques et avis énoncés ici.</p>
    </div>
    <div class="row">

        <p class="text-center">En visitant notre site et/ou en achetant quelque chose chez nous, vous vous engagez dans
            notre "Service" et acceptez
            d'être lié par les termes et conditions suivants ("Conditions de service", "Conditions"), y compris les
            termes et
            conditions supplémentaires et les politiques référencées ici et/ou disponibles par hyperlien. Ces conditions
            de service
            s'appliquent à tous les utilisateurs du site, y compris, mais sans s'y limiter, aux utilisateurs qui sont
            des
            navigateurs, des vendeurs, des clients, des commerçants et/ou des contributeurs de contenu.</p>
        <p class="text-center">Veuillez lire attentivement les présentes conditions de service avant d'accéder à notre
            site Web ou de l'utiliser. En
            accédant à une partie du site ou en l'utilisant, vous acceptez d'être lié par ces conditions de service. Si
            vous
            n'acceptez pas tous les termes et conditions de cet accord, vous ne pouvez pas accéder au site web ni
            utiliser aucun
            service. Si les présentes conditions de service sont considérées comme une offre, leur acceptation est
            expressément
            limitée aux présentes conditions de service.</p>
        <p class="text-center">Toute nouvelle fonctionnalité ou tout nouvel outil ajouté à la boutique actuelle sera
            également soumis aux conditions de
            service. Vous pouvez consulter la version la plus récente des conditions de service à tout moment sur cette
            page. Nous
            nous réservons le droit de mettre à jour, de modifier ou de remplacer toute partie de ces conditions de
            service en
            publiant des mises à jour et/ou des modifications sur notre site Web. Il est de votre responsabilité de
            vérifier
            périodiquement cette page pour voir si des modifications ont été apportées. La poursuite de l'utilisation ou
            de l'accès
            au site web après la publication de toute modification constitue une acceptation de ces modifications.</p>
        <p class="text-center">Notre boutique est hébergée sur Ionos 1&1. Ils nous fournissent la plateforme de commerce
            électronique en ligne qui nous
            permet de vous vendre nos produits et services.</p>
        <h4 class="text-center">Sanctions</h4>
        <p class="text-center">L'usage de tout ou partie du Site, notamment par téléchargement, reproduction,
            transmission,
            représentation
            ou diffusion
            à d'autres fins que pour l'usage personnel et privé dans un but non commercial de l'internaute est
            strictement interdit.
            La violation de ces dispositions soumet son auteur aux sanctions prévues tant par le Code de la
            propriété
            intellectuelle
            au titre notamment de la contrefaçon de droits d'auteur (article L.335-3), de droit des marques (article
            L.716-9) que
            par le Code civil en matière de responsabilité civile (article 9, articles 1382 et suivants).</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">SECTION 1 - CONDITIONS DE LA BOUTIQUE</h2>
        <p class="text-center">En acceptant les présentes conditions de service, vous déclarez que vous avez au moins
            l'âge de la majorité dans votre
            État ou province de résidence, ou que vous avez l'âge de la majorité dans votre État ou province de
            résidence et que
            vous nous avez donné votre consentement pour permettre à toute personne mineure à votre charge d'utiliser ce
            site.
            Vous ne pouvez pas utiliser nos produits à des fins illégales ou non autorisées et vous ne pouvez pas, dans
            le cadre de
            l'utilisation du service, violer les lois de votre juridiction (y compris, mais sans s'y limiter, les lois
            sur les
            droits d'auteur).
            Vous ne devez pas transmettre de vers ou de virus ou tout code de nature destructive.
            Toute infraction ou violation de l'une des conditions entraînera la résiliation immédiate de vos services.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">SECTION 2 - CONDITIONS GÉNÉRALES</h2>
        <p class="text-center">Nous nous réservons le droit de refuser le service à quiconque pour quelque raison que ce
            soit et à tout moment.
            Vous comprenez que votre contenu (à l'exception des informations relatives aux cartes de crédit) peut être
            transféré de
            manière non cryptée et impliquer (a) des transmissions sur divers réseaux ; et (b) des modifications pour se
            conformer
            et s'adapter aux exigences techniques des réseaux ou des dispositifs de connexion. Les informations
            relatives aux cartes
            de crédit sont toujours cryptées pendant le transfert sur les réseaux.
            Vous acceptez de ne pas reproduire, dupliquer, copier, vendre, revendre ou exploiter toute partie du
            service,
            l'utilisation du service, ou l'accès au service ou tout contact sur le site Web par lequel le service est
            fourni, sans
            notre autorisation écrite expresse.
            Les titres utilisés dans cet accord sont inclus pour des raisons de commodité uniquement et ne limiteront
            pas ou
            n'affecteront pas ces conditions.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">SECTION 3 - EXACTITUDE, EXHAUSTIVITÉ ET ACTUALITÉ DES INFORMATIONS</h2>
        <p class="text-center">Nous ne sommes pas responsables si les informations mises à disposition sur ce site ne
            sont pas exactes, complètes ou
            actuelles. Le contenu de ce site est fourni à titre d'information générale uniquement et ne doit pas être
            utilisé comme
            base unique de prise de décision sans consulter des sources d'information primaires, plus précises, plus
            complètes ou
            plus actuelles. Toute utilisation du contenu de ce site se fait à vos propres risques.
            Ce site peut contenir certaines informations historiques. Les informations historiques, nécessairement, ne
            sont pas
            actuelles et sont fournies à titre de référence uniquement. Nous nous réservons le droit de modifier le
            contenu de ce
            site à tout moment, mais nous n'avons aucune obligation de mettre à jour les informations sur notre site.
            Vous acceptez
            qu'il est de votre responsabilité de surveiller les modifications apportées à notre site.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">SECTION 4 - MODIFICATIONS DU SERVICE ET DES PRIX</h2>
        <p class="text-center">Les prix de nos produits sont susceptibles d'être modifiés sans préavis.
            Nous nous réservons le droit à tout moment de modifier ou d'interrompre le Service (ou toute partie ou
            contenu de
            celui-ci) sans préavis.
            Nous ne serons pas responsables envers vous ou un tiers pour toute modification, changement de prix,
            suspension ou
            interruption du Service.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">SECTION 5 - PRODUITS OU SERVICES (le cas échéant)</h2>
        <p class="text-center">Certains produits ou services peuvent être disponibles exclusivement en ligne sur le site
            web. Ces produits ou services
            peuvent avoir des quantités limitées et ne peuvent être retournés ou échangés que conformément à notre
            Politique de
            retour.
            Nous avons fait tout notre possible pour afficher aussi précisément que possible les couleurs et les images
            de nos
            produits qui apparaissent en magasin. Nous ne pouvons pas garantir que l'affichage d'une couleur sur votre
            écran
            d'ordinateur sera exact.
            Nous nous réservons le droit, sans y être obligés, de limiter la vente de nos produits ou services à toute
            personne,
            région géographique ou juridiction. Nous pouvons exercer ce droit au cas par cas. Nous nous réservons le
            droit de
            limiter les quantités de tout produit ou service que nous proposons. Toutes les descriptions de produits ou
            de prix de
            produits sont susceptibles d'être modifiées à tout moment sans préavis, à notre seule discrétion. Nous nous
            réservons le
            droit de supprimer tout produit à tout moment. Toute offre de produit ou de service faite sur ce site est
            nulle là où
            elle est interdite.
            Nous ne garantissons pas que la qualité de tout produit, service, information ou autre matériel acheté ou
            obtenu par
            vous répondra à vos attentes, ou que toute erreur dans le service sera corrigée.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">ARTICLE 6 - EXACTITUDE DES INFORMATIONS DEFACTURATION ET DE COMPTE</h2>
        <p class="text-center">Nous nous réservons le droit de refuser toute commande que vous nous confiez. Nous
            pouvons, à notre seule discrétion,
            limiter ou annuler les quantités achetées par personne, par foyer ou par commande. Ces restrictions peuvent
            inclure des
            commandes passées par ou sous le même compte client, la même carte de crédit, et/ou des commandes utilisant
            la même
            adresse de facturation et/ou de livraison. Si nous modifions ou annulons une commande, nous pouvons tenter
            de vous en
            informer en contactant l'adresse électronique et/ou l'adresse de facturation/le numéro de téléphone fournis
            au moment de
            la commande. Nous nous réservons le droit de limiter ou d'interdire les commandes qui, selon notre seul
            jugement,
            semblent être passées par des concessionnaires, des revendeurs ou des distributeurs.

            Vous acceptez de fournir des informations actuelles, complètes et précises sur vos achats et votre compte
            pour tous les
            achats effectués dans notre magasin. Vous acceptez de mettre rapidement à jour votre compte et d'autres
            informations, y
            compris votre adresse e-mail et les numéros et dates d'expiration de votre carte de crédit, afin que nous
            puissions
            effectuer vos transactions et vous contacter si nécessaire.

            Pour plus de détails, veuillez consulter notre Politique de retour.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">SECTION 7 - OUTILS FACULTATIFS</h2>
        <p class="text-center">Nous pouvons vous donner accès à des outils tiers sur lesquels nous n'avons aucun
            contrôle ni aucune influence.
            Vous reconnaissez et acceptez que nous fournissions l'accès à ces outils "en l'état" et "selon la
            disponibilité" sans
            aucune garantie, représentation ou condition de quelque nature que ce soit et sans aucun aval. Nous n'aurons
            aucune
            responsabilité, quelle qu'elle soit, découlant de votre utilisation des outils facultatifs de tiers ou s'y
            rapportant.
            Toute utilisation par vous d'outils facultatifs proposés par le biais du site est entièrement à vos risques
            et périls et
            vous devez vous assurer que vous connaissez et approuvez les conditions dans lesquelles les outils sont
            fournis par le
            ou les fournisseurs tiers concernés.
            Nous pouvons également, à l'avenir, proposer de nouveaux services et/ou fonctionnalités par le biais du site
            (y compris,
            la mise à disposition de nouveaux outils et ressources). Ces nouveaux services et/ou fonctionnalités seront
            également
            soumis aux présentes conditions de service.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 8 - LIENS VERS DES TIERS
        </h2>
        <p class="text-center">Certains contenus, produits et services disponibles via notre Service peuvent inclure des
            éléments provenant de tiers.
            Les liens de tiers sur ce site peuvent vous diriger vers des sites Web de tiers qui ne sont pas affiliés à
            nous. Nous ne
            sommes pas responsables de l'examen ou de l'évaluation du contenu ou de l'exactitude et nous ne garantissons
            pas et
            n'aurons aucune responsabilité pour tout matériel ou site web tiers, ou pour tout autre matériel, produit ou
            service de
            tiers.
            Nous ne sommes pas responsables des préjudices ou des dommages liés à l'achat ou à l'utilisation de biens,
            de services,
            de ressources, de contenus ou de toute autre transaction effectuée en relation avec des sites Web de tiers.
            Veuillez
            examiner attentivement les politiques et pratiques du tiers et vous assurer que vous les comprenez avant de
            vous engager
            dans une quelconque transaction. Les plaintes, réclamations, préoccupations ou questions concernant les
            produits de
            tiers doivent être adressées au tiers en question.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 9 - COMMENTAIRES DES UTILISATEURS, RÉACTIONS ET AUTRES SOUMISSIONS
        </h2>
        <p class="text-center">
            Si, à notre demande, vous envoyez certaines soumissions spécifiques (par exemple, des participations à des
            concours) ou
            si, sans demande de notre part, vous envoyez des idées créatives, des suggestions, des propositions, des
            plans ou
            d'autres documents, que ce soit en ligne, par courrier électronique, par courrier postal ou autrement
            (collectivement,
            les " commentaires "), vous acceptez que nous puissions, à tout moment, sans restriction, éditer, copier,
            publier,
            distribuer, traduire et utiliser de toute autre manière sur tout support les commentaires que vous nous
            transmettez.
            Nous n'avons et n'aurons aucune obligation (1) de maintenir la confidentialité de tout commentaire, (2) de
            verser une
            compensation pour tout commentaire, ou (3) de répondre à tout commentaire.
            Nous pouvons, mais n'avons pas l'obligation, de surveiller, modifier ou supprimer les contenus que nous
            jugeons, à notre
            seule discrétion, illégaux, offensants, menaçants, diffamatoires, pornographiques, obscènes ou autrement
            répréhensibles
            ou qui violent la propriété intellectuelle d'une partie ou les présentes conditions d'utilisation.
            Vous acceptez que vos commentaires ne violent pas les droits d'un tiers, y compris les droits d'auteur, les
            marques
            commerciales, la vie privée, la personnalité ou tout autre droit personnel ou de propriété. Vous acceptez en
            outre que
            vos commentaires ne contiennent pas de matériel diffamatoire ou autrement illégal, abusif ou obscène, ni de
            virus
            informatique ou autre logiciel malveillant qui pourrait affecter de quelque manière que ce soit le
            fonctionnement du
            Service ou de tout site Web connexe. Vous ne pouvez pas utiliser une fausse adresse électronique, prétendre
            être
            quelqu'un d'autre que vous-même ou nous induire en erreur, nous ou des tiers, quant à l'origine des
            commentaires. Vous
            êtes seul responsable des commentaires que vous faites et de leur exactitude. Nous ne prenons aucune
            responsabilité et
            n'assumons aucune responsabilité pour tout commentaire posté par vous ou par un tiers.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 10 -INFORMATIONS PERSONNELLES </h2>
        <p class="text-center">
            Votre soumission d'informations personnelles par le biais du magasin est régie par notre Politique de
            confidentialité.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">ARTICLE 11 -ERREURS, INEXACTITUDES ET OMISSIONS</h2>
        <p class="text-center">
            Il peut arriver que des informations sur notre site ou dans le Service contiennent des erreurs
            typographiques, des
            inexactitudes ou des omissions qui peuvent concerner les descriptions de produits, les prix, les promotions,
            les offres,
            les frais d'expédition des produits, les temps de transit et la disponibilité. Nous nous réservons le droit
            de corriger
            toute erreur, inexactitude ou omission, et de modifier ou mettre à jour les informations ou d'annuler les
            commandes si
            une information dans le Service ou sur un site web connexe est inexacte, à tout moment et sans préavis (y
            compris après
            que vous ayez soumis votre commande).
            Nous ne sommes pas tenus de mettre à jour, de modifier ou de clarifier les informations contenues dans le
            Service ou sur
            tout site Web connexe, y compris, sans s'y limiter, les informations sur les prix, sauf si la loi l'exige.
            Aucune date
            de mise à jour ou d'actualisation spécifiée appliquée dans le Service ou sur tout site Web connexe, ne doit
            être
            considérée comme indiquant que toutes les informations dans le Service ou sur tout site Web connexe ont été
            modifiées ou
            mises à jour.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 12 -UTILISATIONS INTERDITES
        </h2>
        <p class="text-center">
            il vous est interdit d'utiliser le site ou son
            contenu : (a) à des fins illégales ; (b) pour solliciter d'autres personnes à réaliser ou à participer à des
            actes
            illégaux ; (c) pour violer toute réglementation, règle, loi ou ordonnance locale internationale, fédérale,
            provinciale
            ou étatique ; (d) pour enfreindre ou violer nos droits de propriété intellectuelle ou les droits de
            propriété
            intellectuelle d'autres personnes ; (e) de harceler, d'abuser, d'insulter, de nuire, de diffamer, de
            dénigrer,
            d'intimider ou de pratiquer une discrimination fondée sur le sexe, l'orientation sexuelle, la religion,
            l'origine
            ethnique, la race, l'âge, l'origine nationale ou le handicap ; (f) de soumettre des informations fausses ou
            trompeuses
            (g) télécharger ou transmettre des virus ou tout autre type de code malveillant qui sera ou pourra être
            utilisé de
            manière à affecter la fonctionnalité ou le fonctionnement du Service ou de tout site Web connexe, d'autres
            sites Web ou
            d'Internet ; (h) collecter ou suivre les informations personnelles d'autres personnes ; (i) à des fins de
            spam,
            d'hameçonnage, de pharmacie, de prétexte, d'araignée, d'exploration ou de grattage ; (j) à des fins obscènes
            ou
            immorales ; ou (k) pour interférer avec ou contourner les dispositifs de sécurité du Service ou de tout site
            Web
            connexe, d'autres sites Web ou d'Internet. Nous nous réservons le droit de mettre fin à votre utilisation du
            Service ou
            de tout site Web connexe en cas de violation de l'une des utilisations interdites.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">ARTICLE 13 -EXCLUSION DE GARANTIES - LIMITATION DE RESPONSABILITÉ</h2>
        <p class="text-center">
            Nous ne garantissons pas que votre utilisation de notre service sera ininterrompue, opportune, sécurisée ou
            sans erreur.
            Nous ne garantissons pas que les résultats qui peuvent être obtenus par l'utilisation du service seront
            exacts ou
            fiables.
            Vous acceptez que, de temps à autre, nous puissions retirer le service pour des périodes indéfinies ou
            annuler le
            service à tout moment, sans préavis.
            Vous convenez expressément que l'utilisation ou l'impossibilité d'utiliser le service se fait à vos seuls
            risques. Le
            service et tous les produits et services qui vous sont fournis par le biais du service sont (sauf indication
            expresse de
            notre part) fournis " tels quels " et " tels que disponibles " pour votre utilisation, sans aucune
            représentation,
            garantie ou condition d'aucune sorte, expresse ou implicite, y compris toutes les garanties ou conditions
            implicites de
            qualité marchande, d'adéquation à un usage particulier, de durabilité, de titre et d'absence de contrefaçon.
            En aucun cas, Les amoureux du chocolat, nos administrateurs, employés, affiliés, agents, entrepreneurs,
            stagiaires,
            fournisseurs, prestataires de services ou concédants de licence ne seront responsables de toute blessure,
            perte,
            réclamation ou de tout dommage direct, indirect, accessoire, punitif, spécial ou consécutif de quelque
            nature que ce
            soit, y compris, sans s'y limiter, les pertes de profits, de revenus, d'économies, de données, les coûts de
            remplacement
            ou tout autre dommage similaire, qu'il soit basé sur un contrat, un délit (y compris la négligence),
            responsabilité
            stricte ou autre, résultant de votre utilisation du service ou de tout produit obtenu par le biais du
            service, ou pour
            toute autre réclamation liée de quelque manière que ce soit à votre utilisation du service ou de tout
            produit, y
            compris, mais sans s'y limiter, toute erreur ou omission dans tout contenu, ou toute perte ou tout dommage
            de quelque
            nature que ce soit résultant de l'utilisation du service ou de tout contenu (ou produit) affiché, transmis
            ou rendu
            disponible par le biais du service, même si vous avez été informé de leur possibilité. Étant donné que
            certains États ou
            juridictions n'autorisent pas l'exclusion ou la limitation de la responsabilité pour les dommages indirects
            ou
            accessoires, dans ces États ou juridictions, notre responsabilité sera limitée dans la mesure maximale
            autorisée par la
            loi.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            ARTICLE 14 -DIVISIBILITÉ
        </h2>
        <p class="text-center">
            Dans le cas où une disposition des présentes Conditions d'utilisation serait jugée illégale, nulle ou
            inapplicable,
            cette disposition sera néanmoins applicable dans toute la mesure permise par la loi applicable, et la partie
            inapplicable sera considérée comme dissociée des présentes Conditions d'utilisation, cette décision
            n'affectant pas la
            validité et l'applicabilité des autres dispositions.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 15 -Droit d'accès
        </h2>
        <p class="text-center">
            Les listes de diffusion de Les Amoureux du Chocolat sont absolument confidentielles. Si votre E-mail y
            figure, il ne
            sera en aucun cas communiqué à des tiers. Vous avez, à tout moment, la possibilité de modifier votre E-mail
            ou de le
            désactiver si vous souhaitez ne plus figurer dans ce fichier. Pour valider l'une de ces rectifications, vous
            pouvez nous
            contacter (contact@lesamoureuxduchocolat.com).
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 16 -Formulaires
        </h2>
        <p class="text-center">
            Les informations recueillies par le biais des formulaires ne seront pas divulguées à des personnes autres
            que celles
            composants notre établissement. Certaines des informations de ces formulaires sont facultatives, d'autres
            obligatoires
            et clairement indiquées comme telles afin que vos réponses soient suffisantes pour nous permettre de traiter
            l'information.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 17 -RÉSILIATION
        </h2>
        <p class="text-center">

        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 18 -Responsabilité

        </h2>
        <p class="text-center">
            La société Les Amoureux du Chocolat s'efforce d'assurer au mieux de ses possibilités l'exactitude et la mise
            à jour des
            informations diffusées sur le Site, dont il se réserve le droit de corriger, à tout moment et sans préavis,
            le contenu.
            Toutefois, la société Les Amoureux du Chocolat ne peut garantir l'exactitude, la précision et l'exhaustivité
            des
            informations mises à disposition sur le Site lesquelles informations ne constituent ni une garantie ni un
            engagement de
            la part de la société Les Amoureux du Chocolat à l'égard de l'internaute. En particulier, la société Les
            Amoureux du
            Chocolat ne saurait être tenue pour responsable :

            - de toute imprécision, inexactitude ou omission portant sur des informations disponibles sur le Site.

            - de tous dommages résultant d'une intrusion informatique d'un tiers ayant entraîné une modification des
            informations
            mises à disposition sur le Site.

            - et plus généralement, de tous dommages, directs ou indirects, quelles qu'en soient les causes, origines,
            natures et
            conséquences, provoqués à raison de l'accès de quiconque au Site ou de l'impossibilité d'y accéder, de même
            que
            l'utilisation du Site et/ou du crédit accordé à une quelconque information provenant directement ou
            indirectement de ce
            dernier.

            La société Les Amoureux du Chocolat met en œuvre des moyens destinés à assurer la sécurité des fichiers
            constitués à
            partir des données à caractère personnel collectées sur le Site. Il est toutefois rappelé que la société Les
            Amoureux du
            Chocolat ne maîtrise pas les risques liés au fonctionnement d'Internet et attire l'attention des internautes
            sur
            l'existence d'éventuels risques en terme de confidentialité des données transitant via ce réseau. Tous les
            prix indiqués
            sur le Site sont les prix TTC maximum. Ces prix sont valables uniquement en France Métropolitaine.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 19 -INTÉGRALITÉ DE L'ACCORD
        </h2>
        <p class="text-center">
            Le fait que nous n'ayons pas exercé ou appliqué un droit ou une disposition des présentes Conditions de
            service ne
            constitue pas une renonciation à ce droit ou à cette disposition.
            Les présentes Conditions d'utilisation et toutes les politiques ou règles d'exploitation que nous publions
            sur ce site
            ou concernant le Service constituent l'intégralité de l'accord et de l'entente entre vous et nous et
            régissent votre
            utilisation du Service, remplaçant tous les accords, communications et propositions antérieurs ou
            contemporains, qu'ils
            soient oraux ou écrits, entre vous et nous (y compris, mais sans s'y limiter, toute version antérieure des
            Conditions
            d'utilisation).
            Toute ambiguïté dans l'interprétation des présentes Conditions de service ne sera pas interprétée à
            l'encontre de la
            partie rédactrice.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 20 -LOI APPLICABLE
        </h2>
        <p class="text-center">
            Les présentes Conditions de service et tout accord séparé par lequel nous vous fournissons des services
            seront régis et
            interprétés conformément aux lois de la France.
        </p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            ARTICLE 18 -MODIFICATIONS DES CONDITIONS DE SERVICE
        </h2>
        <p class="text-center">
            La société Les Amoureux du Chocolat informe les internautes consultant le Site que les présentes mentions
            peuvent être
            modifiées à tout moment.
            Vous pouvez consulter la version la plus récente des conditions de service à tout moment
            sur cette page.
            Nous nous réservons le droit, à notre seule discrétion, de mettre à jour, de modifier ou de remplacer toute
            partie des
            présentes Conditions de service en publiant des mises à jour et des modifications sur notre site Web. Il est
            de votre
            responsabilité de vérifier périodiquement si des modifications ont été apportées à notre site Web. La
            poursuite de
            l'utilisation ou de l'accès à notre site Web ou au service après la publication de toute modification des
            présentes
            conditions de service constitue une acceptation de ces modifications.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            SECTION 21 -INFORMATIONS DE CONTACT
        </h2>
        <p class="text-center">
            Les questions relatives aux conditions d'utilisation doivent nous être envoyées à l'adresse
            contact@lesamoureuxduchocolat.com.
        </p>
    </div>
</div>

{% endblock %}