{% extends 'adminBase.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="text">

    <h1 class="text">
        Accueil de l'espace administrateur
    </h1>
    <p>Voici l'interface pour créer, modifier, supprimer des articles pour le blog et le mettre à jour, merci de cliquer
        sur un des liens dans le menu à gauche pour faire les ajouts et modifications. Le contenu apparaîtra dans cette
        section.
    </p>

</div>
{# <div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 ">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white">
                    <i class="fas fa-layer-group "></i>
                </h1>
                <h6 class="text-uppercase">Les Catégories</h6>
                {% for category in categories %}
                <h3 class="display-1"> {{ category.id }} </h3>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 ">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white">
                    <i class="fas fa-newspaper"></i>
                </h1>
                <h6 class="text-uppercase">Les Article</h6>
                <h3 class="display-1">134</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 ">
        <div class="card card-hover">
            <div class="box bg-primary text-center">
                <h1 class="font-light text-white">
                    <i class="fas fa-comment-dots"></i>
                </h1>
                <h6 class="text-uppercase">Les commentaires</h6>
                <h3 class="display-1">134</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 ">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white">
                    <i class="bi bi-bag-heart-fill"></i>
                </h1>
                <h6 class="text-uppercase">Les produits</h6>
                <h3 class="display-1">134</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 ">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">
                    <i class="fas fa-user-friends"></i>
                </h1>
                <h6 class="text-uppercase">Les utilisateurs</h6>
                <h3 class="display-1">134</h3>
            </div>
        </div>
    </div>


</div> #}
{% endblock %}