{% extends 'adminBase.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="text">

    <h1>Accueil de l'espace administrateur</h1>
    <p>Voici l'interface pour créer, modifier, supprimer des articles pour le blog et le mettre à jour, merci de cliquer
        sur un des liens dans le menu à gauche pour faire les ajouts et modifications. Le contenu apparaîtra dans cette
        section.
    </p>
</div>
{% endblock %}