{% extends 'base.html.twig' %}

{% block title %}Produits ♥ Les Amoureux du Chocolat ♥{% endblock %}


{% block body %}
<h1 class="text-center mt-5 pt-5">Chocolat & fruits sec {#{ product.Id }#} </h1>
<p class="section-title-p mb-5 mt-4">
    Découvrez tous nos produits faits artisanalement.
    Un concentré d'amour, de passion et de création qui vont éveiller vos sens et vos papilles.Laissez vous tentez par
    nos mélanges chocolat & fruits secs à la fois tendre et croquant.
</p>




{% endblock %}