{% extends 'base.html.twig' %}

{% block title %}Détails Produit ♥ Les Amoureux du Chocolat ♥{% endblock %}


{% block body %}

<div class="row row-grid border border-dark">
    <div class="col-xs-6 col-md-6 my-1 border border-dark">
        <img src="./Img/Products-section1/Framboise1.jpg" alt="" style="width:450px" />
    </div>
    <div class="col-xs-6 col-md-6 my-1 mb-5 border border-dark">
        <p class="mt-12" href=" {{ path('home')}} ">Accueil > Produit</p>
        <h6> Mendiant Noir </h6>
        <p>État : Nouveau produit
        </p>
        <p>Palets craquants de chocolat noir intense, parsemés d'amandes,
            noisettes et pistaches.
        </p>
        <p>100g (environ 12 mendiants)
        </p>
        <p>7€ incl. T.V.A
        </p>
        <p>Ingrédients:</p>
        <p>Chocolat noir 67% (pâte de cacao 67%, sucre, beurre de cacao,émulsifiant: lécithine de SOJA,
            vanille),AMANDES, NOISETTES, PISTACHES.</p>
    </div>
</div>



{% endblock %}