{% extends 'base.html.twig' %}

{% block title %}Politique d'utilisation des cookies ♥ Les Amoureux du Chocolat ♥{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row pt-5 pb-5 ">
        <h1 class="text-center pt-5 pb-2">Conditions d'utilisation</h1>
    </div>
    <div class=" justify-content-center">
        <div class="row">
            <h2 class="pt-3 pb-3 text-center">Politique de confidentialité
            </h2>
            <p class="text-center">
                Ce site Web recueille certaines données personnelles auprès de ses utilisateurs.
            </p>
            <p class="text-center">Ce document peut être imprimé pour référence en utilisant la commande d'impression
                dans les paramètres de tout
                navigateur.</p>
        </div>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Propriétaire et contrôleur des données</h2>
        <ul class="text-center">
            <li>Les Amoureux du Chocolat, société à responsabilité limitée</li>
            <li>9 Place de l’Union Européenne</li>
            <li>91300 Massy FRANCE</li>
            <li>SIRET 812 329 936 00015</li>
        </ul>
        <p class="text-center">Courriel de contact du propriétaire : contact@lesamoureuxduchocolat.com</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Types de données collectées</h2>
        <p class="text-center">Parmi les types de Données Personnelles que ce Site Web collecte, par lui-même ou par
            l'intermédiaire de tiers, il y a :
            adresse électronique, prénom, nom de famille, nom de l'entreprise, pays, ville, tracker, données
            d'utilisation,
            ID utilisateur,
            numéro de téléphone, historique des commentaires, informations sur les
            appareils, divers types de données, identifiant unique universel (UUID), données communiquées lors de
            l'utilisation
            du service, courrier électronique, réponses aux questions.</p>
        <p class="text-center">Les détails complets sur chaque type de Données Personnelles collectées sont fournis dans
            les sections dédiées de cette
            politique de confidentialité ou par des textes explicatifs spécifiques affichés avant la collecte des
            Données.
            Les Données Personnelles peuvent être fournies librement par l'Utilisateur ou, dans le cas des Données
            d'Utilisation,
            collectées automatiquement lors de l'utilisation de ce Site Web.
            Sauf indication contraire, toutes les données demandées par le présent site Web sont obligatoires et leur
            non-communication peut entraîner l'impossibilité pour le site Web de fournir ses services. Dans les cas où
            ce Site Web
            indique spécifiquement que certaines Données ne sont pas obligatoires, les Utilisateurs sont libres de ne
            pas
            communiquer ces Données sans conséquences sur la disponibilité ou le fonctionnement du Service.
            Les Utilisateurs qui ne sont pas sûrs des Données Personnelles qui sont obligatoires sont invités à
            contacter le
            Propriétaire.
            Toute utilisation de Cookies - ou d'autres outils de suivi - par ce Site Web ou par les propriétaires de
            services tiers
            utilisés par ce Site Web sert à fournir le Service requis par l'Utilisateur, en plus de tout autre objectif
            décrit dans
            le présent document et dans la Politique en matière de Cookies, si elle est disponible.</p>
        <p class="text-center">Les Utilisateurs sont responsables de toutes les Données personnelles de tiers obtenues,
            publiées ou partagées par le
            biais de ce site Web et confirment qu'ils ont le consentement du tiers pour fournir les Données au
            Propriétaire.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Mode et lieu de traitement des Données
        </h2>
        <h3 class="pt-2-pb-3 text-center">Méthodes de traitement</h3>

        <p class="text-center">Le Propriétaire prend des mesures de sécurité appropriées pour empêcher l'accès non
            autorisé, la divulgation, la
            modification ou la destruction non autorisée des Données.
            Le traitement des Données est effectué à l'aide d'ordinateurs et/ou d'outils informatiques, en suivant des
            procédures
            organisationnelles et des modes strictement liés aux objectifs indiqués. Outre le Propriétaire, dans
            certains cas, les
            Données peuvent être accessibles à certains types de personnes responsables, impliquées dans le
            fonctionnement de ce
            site Web (administration, ventes, marketing, juridique, administration du système) ou à des parties externes
            (telles que
            des prestataires de services techniques tiers, des transporteurs de courrier, des fournisseurs
            d'hébergement, des
            sociétés informatiques, des agences de communication) nommées, si nécessaire, en tant que Responsables du
            traitement des
            Données par le Propriétaire. La liste actualisée de ces parties peut être demandée au Propriétaire à tout
            moment.</p>
        <h3 class="pt-2-pb-3 text-center">Base juridique du traitement</h3>
        <p class="text-center">
            Le Propriétaire peut traiter les Données personnelles relatives aux Utilisateurs si l'un des cas suivants
            s'applique :
        </p>
        <ul class="text-center">
            <li>Les utilisateurs ont donné leur consentement pour une ou plusieurs fins spécifiques. Remarque : En vertu
                de certaines
                législations, le Propriétaire peut être autorisé à traiter les Données personnelles jusqu'à ce que
                l'Utilisateur
                s'oppose à ce traitement (" opt-out "), sans avoir à se fonder sur le consentement ou sur l'une des
                autres bases
                juridiques suivantes.</li>
            <li>Ceci ne s'applique toutefois pas, lorsque le traitement des Données personnelles est soumis à la
                législation européenne sur la protection des données ,
                la fourniture des Données est nécessaire pour l'exécution d'un accord avec l'Utilisateur et/ou pour
                toute obligation
                précontractuelle de celui-ci,</li>
            <li>le traitement est nécessaire pour le respect d'une obligation légale à laquelle le Propriétaire est
                soumis ;
                le traitement est lié à une tâche qui est effectuée dans l'intérêt public ou dans l'exercice de
                l'autorité officielle
                dont est investi le Propriétaire ;
                le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le Propriétaire ou par un
                tiers.</li>
            <li>Dans tous les cas, le Propriétaire aidera volontiers à clarifier la base juridique spécifique qui
                s'applique au
                traitement, et en particulier si la fourniture des Données personnelles est une exigence légale ou
                contractuelle, ou une
                exigence nécessaire pour conclure un contrat.</li>
        </ul>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Lieu
        </h2>
        <p class="text-center">Les Données sont traitées dans les bureaux d'exploitation du Propriétaire et dans tout
            autre lieu où se trouvent les
            parties impliquées dans le traitement.</p>
        <p class="text-center">En fonction de la localisation de l'Utilisateur, les transferts de données peuvent
            impliquer le transfert des Données de
            l'Utilisateur vers un pays autre que le sien. Pour en savoir plus sur le lieu de traitement de ces Données
            transférées,
            les Utilisateurs peuvent consulter la section contenant des détails sur le traitement des Données
            personnelles.</p>
        <p class="text-center">Les Utilisateurs ont également le droit de s'informer sur la base juridique des
            transferts de Données vers un pays situé
            en dehors de l'Union européenne ou vers toute organisation internationale régie par le droit international
            public ou
            créée par deux ou plusieurs pays, telle que l'ONU, et sur les mesures de sécurité prises par le Propriétaire
            pour
            sauvegarder leurs Données.</p>
        <p class="text-center">Si un tel transfert a lieu, les Utilisateurs peuvent en savoir plus en consultant les
            sections pertinentes du présent
            document ou se renseigner auprès du Propriétaire en utilisant les informations fournies dans la section
            contact.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Durée de conservation
        </h2>
        <p class="text-center">Les Données à caractère personnel sont traitées et conservées aussi longtemps que l'exige
            la finalité pour laquelle
            elles ont été collectées.

            Par conséquent :</p>
        <p class="text-center">En fonction de la localisation de l'Utilisateur, les transferts de données peuvent
            impliquer le transfert des Données de
            l'Utilisateur vers un pays autre que le sien. Pour en savoir plus sur le lieu de traitement de ces Données
            transférées,
            les Utilisateurs peuvent consulter la section contenant des détails sur le traitement des Données
            personnelles.</p>
        <p class="text-center">Les Utilisateurs ont également le droit de s'informer sur la base juridique des
            transferts de Données vers un pays situé
            en dehors de l'Union européenne ou vers toute organisation internationale régie par le droit international
            public ou
            créée par deux ou plusieurs pays, telle que l'ONU, et sur les mesures de sécurité prises par le Propriétaire
            pour
            sauvegarder leurs Données.</p>
        <p class="text-center">Si un tel transfert a lieu, les Utilisateurs peuvent en savoir plus en consultant les
            sections pertinentes du présent
            document ou se renseigner auprès du Propriétaire en utilisant les informations fournies dans la section
            contact.</p>
        <p class="text-center">Les Données à caractère personnel collectées à des fins liées à l'exécution d'un contrat
            entre le Propriétaire et
            l'Utilisateur seront conservées jusqu'à la pleine exécution dudit contrat.
            Les Données personnelles collectées aux fins des intérêts légitimes du Propriétaire seront conservées aussi
            longtemps
            que nécessaire pour atteindre ces objectifs. Les utilisateurs peuvent trouver des informations spécifiques
            concernant
            les intérêts légitimes poursuivis par le Propriétaire dans les sections pertinentes du présent document ou
            en contactant
            le Propriétaire.
            Le Propriétaire peut être autorisé à conserver les Données personnelles pour une période plus longue lorsque
            l'Utilisateur a donné son consentement à un tel traitement, tant que ce consentement n'est pas retiré. En
            outre, le
            Propriétaire peut être obligé de conserver les Données personnelles pendant une période plus longue lorsque
            cela est
            nécessaire pour l'exécution d'une obligation légale ou sur ordre d'une autorité.

            Une fois la période de conservation expirée, les Données personnelles seront supprimées. Par conséquent, le
            droit
            d'accès, le droit à l'effacement, le droit à la rectification et le droit à la portabilité des données ne
            peuvent être
            mis en œuvre après l'expiration de la période de conservation.</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">
            Les finalités du traitement</h2>
        <p class="text-center">Les Données concernant l'Utilisateur sont collectées pour permettre au Propriétaire de
            fournir son Service, de se
            conformer à ses obligations légales, de répondre aux demandes d'exécution, de protéger ses droits et
            intérêts (ou ceux
            de ses Utilisateurs ou de tiers), de détecter toute activité malveillante ou frauduleuse, ainsi que les
            éléments
            suivants :</p>
        <p class="text-center">Gestion de la base de données des utilisateurs, Gestion des contacts et envoi de
            messages, Publicité, Gestion
            des demandes d'assistance et de contact, Traitement des paiements, Interaction avec les réseaux sociaux et
            les
            plateformes externes, Interaction avec les plateformes de collecte de données et d'autres tiers, Analytique,
            Interaction
            avec les plateformes de sondage en ligne, Cartographie thermique et enregistrement de session, Bêta-test,
            Accès aux
            comptes tiers, Inscription et authentification, Remarketing et ciblage comportemental, Test de performance
            et de
            fonctionnalités du contenu (test A/B), Protection contre le SPAM, Hébergement et infrastructure backend et
            Affiliation
            commerciale.</p>
        <p class="text-center">Pour des informations spécifiques sur les Données personnelles utilisées pour chaque
            finalité, l'Utilisateur peut se
            référer à la section " Informations détaillées sur le traitement des Données personnelles ".</p>
    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Gestion des contacts et envoi de messages
        </h2>
        <p class="text-center">Ce type de service permet de gérer une base de données de contacts e-mail, de contacts
            téléphoniques ou de toute autre
            information de contact pour communiquer avec l'Utilisateur.
            Ces services peuvent également collecter des données concernant la date et l'heure à laquelle le message a
            été consulté
            par l'Utilisateur, ainsi que lorsque l'Utilisateur a interagi avec celui-ci, par exemple en cliquant sur les
            liens
            inclus dans le message.</p>

    </div>
    <div class="row">
        <h2 class="pt-3 pb-3 text-center">Enregistrement et authentification
        </h2>
        <p class="text-center">En s'enregistrant ou en s'authentifiant, les utilisateurs permettent à ce site Web de les
            identifier et de leur donner
            accès à des services dédiés.
            En fonction de ce qui est décrit ci-dessous, des tiers peuvent fournir des services d'enregistrement et
            d'authentification. Dans ce cas, ce Site pourra accéder à certaines Données, stockées par ces services
            tiers, à des fins
            d'enregistrement ou d'identification.
            Certains des services énumérés ci-dessous peuvent également collecter des Données personnelles à des fins de
            ciblage et
            de profilage ; pour en savoir plus, veuillez vous reporter à la description de chaque service.</p>
    </div>
</div>
{% include "shared/_scrolltop.html.twig" %}
{% endblock %}