{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded text-center col-12">
    {{ message }}
</div>
{% endfor %}
{% endfor %}