{#
<!-- Footer -->
<footer class="pt-1">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <div class="logo-footer">
                    <img src="./Img/Logo/logo_white_no_bg.png" alt="Les_Amoureux_du_chocolat_logo" />
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white text-center">INFORMATIONS</h5>

                <ul class="mb-0 text-center">
                    <li>
                        <a href="#" class="text-white">Mentions légales</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Conditions générales de vente</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Politique d'utilisation des cookies</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Nous contacter</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white mb-0 text-center">HORAIRES D'OUVERTURES</h5>
                <ul class="text-white text-center">
                    <li>Mardi - Samedi</li>
                    <li>09:30-19:30</li>
                    <li>Dimanche</li>
                    <li>09:30-13:00</li>
                    <li>Lundi</li>
                    <li>boutique fermé</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <small>&copy;Les amoureux du chocolat 2002</small>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer --> #}