<footer class="footer" id="footer">
    <div class="section-center footer">
        <div class="logo-footer">
            <img src="{{ ('img/Logo/logo_white_no_bg.png')}}" alt="Les Amoureux du chocolat logo" />
        </div>
        <div class="footer-social-facebook">
            <ul>
                <li>
                    <a target="_blanck" href="https://www.facebook.com/lesamoureuxduchocolat">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-social-instagram">
            <ul>
                <li>
                    <a target="_blanck" href="  https://www.instagram.com/lesamoureuxduchocolat/">
                        <i class="fas fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="info-footer-rules">
            <h5>INFORMATIONS</h5>
            <ul>
                <li><a href="#">Mentions légales </a></li>
                <li><a href="#">Conditions générales de vente </a></li>
                <li><a href="#">Politique d'utilisation des cookies </a></li>
                <li><a href="#">Nous contacter</a></li>
                <li><a href=" {{ path('admin') }} ">Admin</a></li>

            </ul>
        </div>
        <div class="info-opennig-hours">
            <h5>HORAIRES D'OUVERTURES</h5>
            <ul>
                <li>Mardi - Samedi</li>
                <li>09:30-19:30</li>
                <li>Dimanche</li>
                <li>09:30-13:00</li>
                <li>Lundi</li>
                <li>boutique fermé</li>
            </ul>
        </div>
    </div>
    <div class="section-center copyright-info">
        <small>&copy;Les amoureux du chocolat 2002
        </small>
    </div>
</footer>