<!-- BUTTON TOP -->
<div class="top-btn">
    {# <i class="fas fa-sort-up" title="Aller vers le haut de la page"></i> #}
    {# <i class="fas fa-heart" title="Aller vers le haut de la page"></i> #}
    <i class="fas fa-chevron-up" title="Aller vers le haut de la page des Amoureux du chocolat"></i>
</div>
<!-- END OF BUTTON TOP -->